h1 {
    text-align: center;
}

.form-container {
    max-width: 650px;
    margin: 0 auto;
    border: 1px solid  gray;
}

input {
    width: 250px;
    margin: 10px 0;
}

#beautiful-form {
    margin: auto;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}