body {
    background-color: antiquewhite;
    
}

/* .search {
    position: relative;
    display: flex;
} */


input {
    
    width: 20px;
    border-radius: 20px;

    
}

.input:hover {

   transition: 0.2s 0.5s width; 
   transition-timing-function: linear;
   width: 100px;
}